/* Generics */
img {
    width: 100%;
    display: inline;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/* !Header */
header {
    height: 70px;
}

.navbar > div {
    background-color: white;
}

.navbar-brand img {
    width: 40px;
    position: relative;
    left: 5px;
}

.navbar-brand .logo-desktop {
    width: 130px;
}

.search-bar {
    margin: 0 25px;
    background-color: #E5E5E5;
    padding-left: 30px;
}

.search-bar.form-control::placeholder {
    color: #777777;
    font-size: 14px;
    font-weight: 500;
}

.navbar form {
    position: relative;
}

.fa-magnifying-glass {
    position: absolute;
    top: 12px;
    left: 32px;
}

ul .fa-bell {
    color: #FF8F00;
}

/* Bottom-content */
.bottom-content {
    background-color: goldenrod;
    height: calc(100vh - 70px);
    overflow: auto;
}

/* Sidebar */
.sidebar {
    background-color: #051E34;
    background-image: url(/img/sidebar-bg.png);
    background-position: center;
    background-size: 650px;
    flex-basis: 75px;
    flex-shrink: 0;
}

/* Top-sidebar */
.top-sidebar {
    height: calc(100% - 100px);
}

ul span {
    font-weight: 500;
}

/* Bottom-sidebar*/
.bottom-sidebar {
    height: 100px;
}

.bottom-sidebar .admin {
    font-weight: 500;
}

/* !Main content */
main {
background-color: orange; 
flex-grow: 1;
overflow: auto;
}

/* Header-main */
.header-main {
    padding: 20px 0;
    background-color: #1B72E8;
}

.header-main .badge {
    font-size: 13px;
    background-color: #165BBA;
    font-weight: normal;
    padding-bottom: 8px;
}

.badge.plan {
    position: relative;
    bottom: 3px;
}